.conatiner {
  margin: 0.2rem;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.dialog-content {
  margin: 0rem 0.5rem;
}

.dialog-box {
  /* width: 50 rem; */
  height: 50rem;
}

.content {
  margin: 0.5rem 0rem;
  /* max-width: 48rem; */
  /* max-height: 50rem; */
}

.input-style {
  margin: 0.4rem 0rem;
}

table {
  width: 100%;
}

tr,
td {
  text-align: left;
}
